pip-tools

# Django
django>=2.0.7,<3.0
django-environ
django-redis
django-extensions
django-debug-toolbar

# Django rest
djangorestframework

# Postgres
psycopg2

# wsgi server
gunicorn

# Security
argon2_cffi
